.god {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 !important;
}

.main-content {
  margin: 8px;
  display: flex;
  flex: 1;
}

.cursor-pointer {
  cursor: pointer !important;
}
